/* style.css */

:root { --color-yellow :#cea462; --color-indigo :#2a2f43; --color-black : #202020; --base-width: 1600px; --base-width-02: 1440px; --base-width-m: calc(100vw - 60px); --m-font-01:36px; --m-font-02: 24px; --m-font-03: 16px; } 

#test { width: 100%; max-width: 860px; margin: auto; overflow: hidden; display: flex; flex-direction: column; align-items: center; } 
#test > img { width:100%; min-width: 240px; } 

body { font-family: "Noto Sans KR", sans-serif; word-break: auto-phrase; } 
section { overflow: hidden; } 

.section-wrapper { width: var(--base-width); height:auto; margin: auto; } 

.section-wrapper .title > p { font-size:48px; letter-spacing: -0.07em; font-weight:400; line-height: 1.45em; } 
.section-wrapper .title > p.p-title { font-weight:700; } 

span.hidden-text { display: block; width:0; height:0; overflow: hidden; } 
